In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("../merged_features.csv")

In [3]:
#dropping unnamed column
data=data.drop(['Unnamed: 0'],axis=1)

#removing ',' from column values and converting to float
data['SANDP_500_price']=data['SANDP_500_price'].str.replace(',', '').astype(float) 
data['NASDAQ_100_price']=data['NASDAQ_100_price'].str.replace(',', '').astype(float)

data.head()

,Date,transactions-btc,size-btc,sentbyaddress-btc,difficulty-btc,hashrate-btc,mining_profitability-btc,sentinusd-btcUSD,transactionfees-btcUSD,median_transaction_fee-btcUSD,...,tweets-btc-rsi30,tweets-btc-rsi90,tweets-btc-roc3,tweets-btc-roc7,tweets-btc-roc14,tweets-btc-roc30,tweets-btc-roc90,SANDP_500_price,NASDAQ_100_price,crude_oil_price
0,2018-10-25,254462.0,785480.0,371084.0,7.182852e+12,4.403033e+19,0.255,4.874241e+09,0.448,0.1350,...,46.246,48.073,-15.205,-14.797,-20.401,-23.920,-31.253,2705.57,7016.39,66.81
1,2018-10-26,252859.0,778272.0,390481.0,7.182852e+12,5.203881e+19,0.225,3.973633e+09,0.460,0.1300,...,46.120,48.039,-16.966,-9.268,-11.902,-22.301,-19.740,2658.69,6852.40,67.50
2,2018-10-27,233613.0,693978.0,337030.0,7.182852e+12,5.238739e+19,0.212,2.554463e+09,0.364,0.1010,...,43.176,47.221,-31.159,-11.089,-25.681,-35.322,-35.887,NaN,NaN,NaN
3,2018-10-28,219720.0,658009.0,319437.0,7.182852e+12,4.679104e+19,0.245,2.147556e+09,0.487,0.0924,...,43.238,47.236,-19.390,-7.117,-26.426,-29.912,-45.289,NaN,NaN,67.59
4,2018-10-29,269608.0,755671.0,387488.0,7.182852e+12,5.359934e+19,0.220,3.831067e+09,0.466,0.1400,...,47.531,48.315,4.111,-12.406,-24.760,-7.613,-31.880,2641.25,6713.90,66.61

## Checking missing values in the dataframe

In [4]:
print(data.columns[data.isna().any()].tolist())

['SANDP_500_price', 'NASDAQ_100_price', 'crude_oil_price']

In [5]:
print("Number of missing values in S&P_500_index_columns: ", data['SANDP_500_price'].isnull().sum())
print("Number of missing values in 'NASDAQ_100_price'columns: ", data['NASDAQ_100_price'].isnull().sum())
print("Number of missing values in 'crude_oil_price': ", data['crude_oil_price'].isnull().sum())

Number of missing values in S&P_500_index_columns:  342
Number of missing values in 'NASDAQ_100_price'columns:  342
Number of missing values in 'crude_oil_price':  167

## Replacing missing value of columns with the average of last 2 days values of respective columns

In [6]:
index_missing_rows_s_and_p=data[data['SANDP_500_price'].isnull()].index.tolist()
index_missing_rows_nasdaq=data[data['NASDAQ_100_price'].isnull()].index.tolist()
index_missing_rows_crude_oil_price=data[data['crude_oil_price'].isnull()].index.tolist()

In [7]:
for i in index_missing_rows_s_and_p:
    data.iloc[i,data.columns.get_loc('SANDP_500_price')]=(data.iloc[i-2,data.columns.get_loc('SANDP_500_price')]+data.iloc[i-1,data.columns.get_loc('SANDP_500_price')])/2


for i in index_missing_rows_nasdaq:
    data.iloc[i,data.columns.get_loc('NASDAQ_100_price')]=(data.iloc[i-2,data.columns.get_loc('NASDAQ_100_price')]+data.iloc[i-1,data.columns.get_loc('NASDAQ_100_price')])/2
    
for i in index_missing_rows_crude_oil_price:
    data.iloc[i,data.columns.get_loc('crude_oil_price')]=(data.iloc[i-2,data.columns.get_loc('crude_oil_price')]+data.iloc[i-1,data.columns.get_loc('SANDP_500_price')])/2

In [8]:
print("Number of missing values in S&P_500_index_columns: ", data['SANDP_500_price'].isnull().sum())
print("Number of missing values in 'NASDAQ_100_price'columns: ", data['NASDAQ_100_price'].isnull().sum())
print("Number of missing values in 'crude_oil_price': ", data['crude_oil_price'].isnull().sum())

Number of missing values in S&P_500_index_columns:  0
Number of missing values in 'NASDAQ_100_price'columns:  0
Number of missing values in 'crude_oil_price':  0

## ---------------------------------------------  DATA CLEANED  -------------------------------------------------------